apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: database
  name: database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database
  strategy: {}
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
      - name: postgres
        image: postgres:17
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: username       
        - name: POSTGRESS_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: db-credentials
              key: password
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: dbname
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-storage
        resources: {}
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc-data
status: {}
