apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: frontend
  name: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  strategy: {}
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - image: cstrader_nginx
        name: cstrader-nginx-4wh5h
        ports:
        - containerPort: 3000
        volumeMounts:
        - name: nginx-config-volume
          mountPath: /etc/nginx/conf.d
        resources: {}
      volumes:
      - name: nginx-config-volume
        configMap:
          name: nginx-conf
status: {}
